*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shoe-carousel {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 0;
  position: relative;
}

.shoe-carousel__img {
  width: 100%;
}

.shoe-carousel__btn {
  border: none;
  border-radius: 50rem;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2rem;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 1.5rem; */
  width: 2rem;
}

.shoe-carousel__btn--right {
  right: 4rem;
}

.shoe-carousel__btn--left {
  left: 4rem;
}

.shoe-carousel__counter {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  color: #fff;
  font-size: 1.2rem;
  left: 55%;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 3rem;
  transform: translateX(-50%);
}

.shoe-carousel__description {
  bottom: -1rem;
  color: #111;
  left: 44%;
  position: absolute;
  transform: translateX(-50%);
}

.video {
  width: 100dvw;
}
.video__placeholder {
  display: block;
  width: 100%;
}

.banner {
  height: auto;
  min-height: 58px;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  position: relative;
  background: #f5f5f5;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.everythingMax {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1 em;
  text-align: center;
}
.em-h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  font-family: "Nike Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}
.emax-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.everythingMaxBuy-btn {
  padding: 6px 20px;
  border-radius: 20px;
  border: 1.5px solid transparent;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  transition: background-color ls;
}
.everythingMaxBuy-btn:hover {
  background-color: lightgray;
}
.everythingMaxBuy-btn:active 
.everythingMaxBuy-btn:focus
{
  background-color: #111;
}

